<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <section name="Path" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
 
  <Path>
    <add key="WorkersURL" value = "\\dc\Студенты\ПКО\PMP-162.1\LaboratoryWoker.xml"></add>
  </Path>
  
</configuration>
